
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.116);
  max-width: 230px;
  padding: 20px;
  text-align: center;
}

.card .card-title {
  font-family: arial, sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.719);
  margin: 0;
}

.card-description {
  font-family: arial, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.616);
}